.wrapper {
  display: flex;
}

.col-second .col-first {
  width: 50%;
}

@media (max-width: 1000px) {
  .col-second .col-first {
    width: auto;
  }

  .col-first {
    order: 1;
  }

  .wrapper {
    flex-direction: column;
  }
}
