body {
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: 'Bad Script', sans-serif;
}

div,
p,
input,
button {
  box-sizing: border-box;
}

p {
  margin-top: 0.5em;
  margin-bottom: 1.6em;
  line-height: 1.38em;
}

.clearfix:after {
  content: "";
  display: table;
  width: 100%;
}

.slider {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  background-color: #aeaeae;
  flex-basis: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: all .2s;
}

.item span {
  font-size: 2rem;
  text-shadow: 0px 0px 10px #000;
}


.item-1 {
  background-color: red;
}

.item-2 {
  background-color: green;
}

.item-3 {
  background-color: blue;
}

.item-4 {
  background-color: violet;
}

.item:hover {
  flex-basis: 50%;
}

@media (max-width: 640px) {
  .slider {
    flex-flow: column;
  }

  .item {
    width: 100%;
    height: 25vh;
  }

  .item:hover {
    flex-grow: 30%;
  }
}